.gallry_container{
    margin-top: 10rem;
}

.image_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

@media screen and (max-width:1024px) {
    .image_container{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width:425px) {
    .image_container{
        grid-template-columns: 1fr;
    }
    
}



